<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=DESKTOP-GRH3RGG\SEVERSQL;Initial Catalog=RISCOERABISCO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RISCO_E_RABISCO.Properties.Settings.RISCOERABISCOConnectionString"
      connectionString="Data Source=DESKTOP-GRH3RGG\SEVERSQL;Initial Catalog=RISCOERABISCO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RISCO_E_RABISCO.Properties.Settings.PROJETORISCOConnectionString"
      connectionString="Data Source=DESKTOP-GRH3RGG\SEVERSQL;Initial Catalog=PROJETORISCO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>